<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Register/Login</title>
    </head>
    <body>

        <div>
            <h1>Register Here</h1>
            <form action="/create", method='POST'>
                {% csrf_token %}
                <label for="first_name">First Name: <input type="text" name="first_name" id="first_name"></label>
                <br>
                <br>
                <label for="last_name">Last Name: <input type="text" name="last_name" id="last_name"></label>
                <br>
                <br>
                <label for="email">Email Address: <input type="text" name="email" id="email"></label>
                <br>
                <br>
                <label for="password">Password: <input type="password" name="password" id="password"></label>
                <br>
                <br>
                <label for="password1">Confirm Password: <input type="password" name="password1" id="password1"></label>
                <br>
                <br>
                <input type="submit" value="Register">
            </form>
        </div>
        <br>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <br>
        <div>
            <h1>Login Here: </h1>
            <form action="/login" method="POST">
                {% csrf_token %}
                <label for="email">Email Address: <input type="text" name="email" id="email"></label>
                <br>
                <br>
                <label for="password">Password: <input type="password" name="password" id="password"></label>
                <br>
                <br>
                <input type="submit" value="Log In">
            </form>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

    </body>
</html>